name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [20.x]

        steps:
            - uses: actions/checkout@v4

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"

            - name: Install Dependencies
              run: npm ci

            - name: Generate Prisma Client
              run: |
                  cd apps/backend
                  npx prisma generate

            - name: Lint
              run: npm run lint

            - name: Build Backend
              run: |
                  cd apps/backend
                  npm run build

            - name: Build Frontend
              run: |
                  cd apps/frontend
                  npm run build
